* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-form,
.review-form,
.contact-form,
.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 40px;
}

.contact-form {
  width: 100%;
}

.login-form form,
.review-form form,
.contact-form form,
.checkout-form form {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #431f17;
  padding: 60px 44px;
}

.login-form .heading,
.review-form .heading,
.checkout-form .heading {
  font-size: 26.857px;
  font-style: normal;
  font-weight: 500;
  line-height: 40.286px;
  color: white;
}

.checkout-form form .bank-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.bank-info .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-form .bank-info .bottom .date-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  background-color: white;
  padding: 15px 10px 15px 24px;
  border-radius: 5px;
  gap: 10px;
}
.date-code input {
  border: none;
  outline: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-family: El Messiri;
  width: 100%;
  background-color: white;
}
.checkout-form .bank-info .bottom .cvc-code {
  width: 65%;
}

.checkout-form {
  gap: 0px;
  width: 100%;
}

.checkout-form .powered-by-section {
  display: flex;
  align-items: center;
  gap: 20px;
  color: gray;
}

.powered-by-section .stripe-icon {
  width: 113.915px;
  height: 91.132px;
}

.stripe-icon svg {
  width: 100%;
  height: 100%;
}

.login-form .third-party-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 12.316px;
  background: #8d6861;
  padding: 50px 36px;
  color: white;
}

.review-form {
  align-items: flex-start;
}

.review-form .rate-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-btns .rate-icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.rate-icon:hover {
  background: #8d68616e;
}
.rate-icon svg {
  width: 50px;
  height: 50px;
  fill: white;
}

@media (min-width: 320px) and (max-width: 599px) {
  .login-form,
  .review-form,
  .checkout-form {
    width: 100%;
  }

  .checkout-form form {
    padding: 60px 20px;
    width: 100%;
    border: 1px solid black;
  }

  .contact-form form {
    border-radius: 20px 20px 0px 0px;
    padding: 60px 24px;
  }

  .checkout-form .bank-info .bottom .date-code {
    width: 40%;
    padding: 15px 10px;
  }
  .checkout-form .bank-info .bottom .cvc-code {
    width: 55%;
  }

  .login-form form {
    padding: 40px 20px;
    border-radius: 0;
  }

  .review-form form {
    padding: 40px 20px;
  }
  .rate-btns .rate-icon {
    padding: 5px;
  }
  .rate-icon svg {
    width: 48px;
    height: 48px;
  }
  .subscribe-form {
    padding: 50px 20px;
    border-radius: 0px;
  }
}
