* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-form,
.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 40px;
}

.login-form form,
.review-form form {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #431f17;
  padding: 60px 44px;
}

.login-form .heading,
.review-form .heading {
  font-size: 26.857px;
  font-style: normal;
  font-weight: 500;
  line-height: 40.286px;
  color: white;
}

.login-form .third-party-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 12.316px;
  background: #8d6861;
  padding: 50px 36px;
  color: white;
}

.review-form {
  align-items: flex-start;
}

.review-form .rate-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-btns .rate-icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.rate-icon:hover {
  background: #8d68616e;
}
.rate-icon svg {
  width: 64px;
  height: 64px;
  fill: white;
}

@media (min-width: 320px) and (max-width: 599px) {
  .login-form,
  .review-form {
    width: 100%;
  }
  .login-form form {
    padding: 40px 20px;
    border-radius: 0;
  }

  .review-form form {
    border-radius: 0;
    padding: 40px 20px;
  }
  .rate-btns .rate-icon {
    padding: 5px;
  }
  .rate-icon svg {
    width: 48px;
    height: 48px;
  }
  .subscribe-form {
    padding: 50px 20px;
    border-radius: 0px;
  }
}
