* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  background-color: #fbf7f6;
  width: 100%;
  /* min-height: 100vh; */
}

.page-container .product-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
  margin: 20px 0px;
}
.product-section h1 {
  color: #653930;
  font-size: 30px;
  font-weight: 600;
}

.product-section .btn-action {
  transform: scale(1.2, 1.2);
}

@media (min-width: 320px) and (max-width: 599px) {
}
