* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  background: #fbf7f6;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-container .search-section {
  margin-top: 50px;
  align-self: center;
}
.page-container .products-section-normal,
.page-container .products-section-active {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
}

.page-container .products-section-active {
  justify-content: flex-start;
  position: relative;
}
