* {
  padding: 0;
  margin: 0;
}

.container-nothing {
  display: none;
}
.container-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 50px 40px;
  gap: 25px;
  border-radius: 40px;
  background: #cfb7b2;
  right: 20px;
  position: absolute;
  top: 0;
}

.container-normal .header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header .close-btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.close-btn svg {
  width: 36px;
  height: 36px;
  fill: rgba(101, 57, 48, 1);
}

.close-btn:hover {
  background-color: rgba(101, 57, 48, 0.15);
}

.container-normal .component-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-footer .product-price {
  font-size: 21.531px;
  font-style: normal;
  font-weight: 700;
  color: rgba(67, 31, 23, 1);
}

@media (min-width: 320px) and (max-width: 599px) {
  .display-nothing {
    display: block;
    position: fixed;
    top: 0;
    transform: translateY(-10px);
    transition: all 0.5s 250ms ease-in-out;
  }
  .container-normal {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    transform: translateY(0%);
    overflow-y: scroll;
    transition: all 0.5s 250ms ease-in-out;
    border-radius: 40px 40px 0px 0px;
  }

  .close-btn {
    padding: 5px 10px;
  }

  .close-btn svg {
    width: 36px;
  }
}
